version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - USE_DOCKER=1
      - POSTGRES_NAME=todo
      - POSTGRES_USER=emumba
      - POSTGRES_PASSWORD=emumba
  web:
    build: .
    command: gunicorn --config gunicorn_config.py todo.wsgi:application --workers=1 --threads=2 --timeout=90 --capture-output --reload
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_NAME=todo
      - POSTGRES_USER=emumba
      - POSTGRES_PASSWORD=emumba
    depends_on:
      - db
